html {
    font-family: $font-family-body;
    font-size: 3.96vw;
    color: #3E3E3E;
}

body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;

}

main {
    background-color: $background-main;
}