.main__title{
    font-size: 1.25rem;
    font-weight: 900;
    text-align: center;
}

.main__subtitle {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.main__list{
    padding: .625rem 3.125rem;
    margin-left: 2.5rem;
    color: #777777;
}

.main__list__itens {
    margin-bottom: 0.8125rem;
    text-decoration: none;
    line-height: 3ch;
}