.form {
    background-color: #FB3A41;
    color: #ffffff;
    padding: .3125rem 1.5625rem .625rem .625rem;
    margin-bottom:2.8125rem; 
    margin: 0;

    @media screen and (min-width: $media-query-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        padding: 2rem;
    }

    .tooth-icon {
        display: none;

        @media screen and (min-width: $media-query-tablet) {
            display: block;
            width: 100%;
            height: auto;
            place-self: center;
        }
    }

    &__title{
        text-align: center;
        font_size: 1rem;
        color:#ffffff;
        padding: .3125rem .3125rem;
    }

    &__input {
        background-color:#FB3A41;
        color: #ffffff;
        font-size:.875rem;
        padding: .625rem .625rem .625rem .4rem;
        display:block;
        width:100%;
        border:none;
        border-bottom:.1rem solid #ffffff;

        &:focus {
            outline:none;
        }

        &::placeholder {
            color: white;
        }

        &--address::placeholder,
        &--telephone::placeholder {
            position: relative;
            left: 5rem;
        }

        &:valid ~ label {
            visibility: visible;
            top: 0;
        }
      }


    &__select {
        position: absolute;
        top: 1.6rem;
        font-size: .875rem;
        color: #ffffff;
        display: block;

        &:focus {
            outline:none;
        }
    }

    &__label {
        pointer-events:none;
        visibility: hidden;
        color: #ffffff; 
        font-size:.875rem;
        font-weight:normal;
        position: relative;
        top: 1.75rem;
        left:.3125rem;
        transition:0.2s ease all; 

        &--adress {
            visibility: visible;
            top: .5rem;
        }
      }

    &__terms {
        display: grid;
        font-size:.875rem;
        grid-template-columns: 1rem auto;
        align-items: center;
        margin: 2rem 0;
      }

    &__adress {
        position: relative;
    }

    &__telephone {
        position: relative;
    }

    &__label--terms {
        top: 0;
    }

    &__button {
        cursor: pointer;
        display: block;
        background:#6FC47E;
        font-size: 1rem;
        color: #ffffff;
        margin: 0 auto;
        border: none;
        border-radius: 5rem;
        padding: .625rem 1.875rem;
     }

     &__btn {
         margin-bottom: .9375rem;
     }
}

.city__select {
    position: absolute;
    top: 1.8rem;
    font-size: .875rem;
    color: #ffffff;
    display: block;

    &:focus {
        outline:none;
    }
}