.footer {
    background-color:#278048;
    color: #ffffff;
    padding-bottom: 3rem;

    @media screen and (min-width: $media-query-desktop) {
        display: grid;
        grid-template-columns: 30% 50% 20%;
        place-items: center;
        padding-bottom: 2.8rem;
    }

    @media screen and (min-width: 1600px) {
        padding-bottom: 1rem;
    }
}

.footer__logo-white {
    display: block;
    margin: 0 auto;
    padding: 2rem;
    height: 2.75rem;

    @media screen and (min-width: $media-query-desktop) {
        width: 100%;
        height: auto;
        max-width: 31rem;
    }
}

.footer__list {
    line-height: 3ch;
    list-style-type: none;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 0;
    padding: 0;

    @media screen and (min-width: $media-query-tablet) {
    display: flex;
    justify-content: space-around;
}
    @media screen and (min-width: $media-query-desktop) {
        width: 100%;
    }
}

.footer__copyright {
    font-size: .75rem;
    display: block;
    padding: 1.25rem 1.5625rem 0px 1.875rem;
    line-height: 3ch;
    text-align: justify;

    @media screen and (min-width: $media-query-desktop) {
        max-width: 80%;
        font-size: .75rem;
    }
}